body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #EEE;
}

/**
 * HEADER section
 *
 */
.App {
    margin-top: 100px !important;
}

.App #header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 90px;
    background-color: #111;
    display: flex;
}

.App #header .page-wrapper {
    display: flex;
    align-content: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
}

.App #header #logo {
    max-width: 150px;
    margin: auto;
    margin-left: 0px;
    align-content: center;
}

.App #header #logo .logo-img {
    max-width: 150px;
    max-height: 70px;
    vertical-align: middle;
}

.App #header .space-fill {
    flex-grow: 1;
}

.App #header a.header-item {
    text-decoration: none;
    height: 100%;
    line-height: 90px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0F6910
}

.App #header a.header-item:hover {
    color: #0c9e0d;
    background-color: #333;
}

/*
 * Message section
 */
.App .message {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
}

.App .message .deleteMessage {
    font-family: Verdana,sans-serif;
    float: right;
    font-weight:700;
    cursor: pointer;
}

.App .message.error {
    color: #a94442;
    border: 1px solid #ebccd1;
    background-color: #f2dede;
}

.App .message.error .deleteMessage {
    color: #d4919c;
}

.App .message.error .deleteMessage:hover {
    color: #a94442
}

.App .message.success {
    color: #3c763d;
    border: 1px solid #d6e9c6;
    background-color: #dff0d8;
}

.App .message.success .deleteMessage {
    color: #d6e9c6;
}

.App .message.success .deleteMessage:hover {
    color: #3c763d
}

.App .message.info {
    color: #31708f;
    border: 1px solid #bce8f1;
    background-color: #d9edf7;
}

.App .message.info .deleteMessage {
    color: #bce8f1;
}

.App .message.info .deleteMessage:hover {
    color: #3c763d
}

/*
 * GLOBAL section
 */
.App .content {
    text-align: center;
    padding: 20px;
}

.App .content b {
    color: #0F6910
}

.App .content .redirect-link {
    display: block;
    padding-bottom: 20px;
    text-decoration: none;
}

.App .content .redirect-link a {
    text-decoration: none;
    color: #0F6910;
}

.App .content .redirect-link a:hover {
    text-decoration: underline;
    color: #0F6910;
}

/*
 * User
 */
  .App .user {
     display: flex;
     max-width: 600px;
     margin: auto;
     margin-top: 50px;
 }

 .App .user .content {
     flex-grow: 1;
 }

.App .userInfo .username {
    color: #0F6910;
    text-transform: capitalize;
    font-weight: 700;
}

.App .userInfo {
    width: 200px;
    margin: auto;
    line-height: 200%;
    background-color: #BBB;
    padding: 10px;
    border-radius: 10px;
}

.App .searchMatchWrapper {
    margin: auto;
    text-align: center;
    flex-grow: 1;
}

.App #searchMatch {
    display:block;
    margin: auto;
    width: 200px;
    padding: 10px;
    font-weight: 700;
    font-size: 13pt;
    letter-spacing: 1.5px;
    color: #111;
    text-decoration: none;
    background-color: #0F6910;
    border-radius: 5px;
    cursor: pointer;
}

.App .userInfo span {
    display: block;
}

.App .searchMatch .loaderWrapper {
    padding-top: 75px;
    padding-bottom: 40px;
}

.App .searchMatch .loader {
    margin:auto;
    border: 4px solid #EEE; /* Light grey */
    border-top: 4px solid #0F6910; /* Blue */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
 * Forms
 */
.App .auth-form {
    text-align: center;
}

.App .auth-form .input {
    display: block;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 250px;
    border: 1px solid #666;
}

.App .auth-form .input:focus {
    border: 1px solid #CCC;
    outline-color: #0F6910
}

.App .auth-form .text-input::placeholder {
    text-align: center;
}

.App .auth-form .submit-button {
    padding: 10px;
    width: 260px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13pt;
    letter-spacing: 1.5px;
    color: #111;
    background-color: #0F6910;
    border-radius: 5px;
    cursor: pointer;
}

.App .auth-form .submit-button:active {
    background-color: #0F6910
}

/* media queries */
.page-wrapper {
    width: 1200px;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .page-wrapper {
        width: 1000px;
    }
}

@media screen and (max-width: 1200px) {
    .page-wrapper {
        width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .page-wrapper {
        width: 98%;
    }
}

@media screen and (max-width:500px) {
    .App #header {
        height: 70px;
    }

    .App #header #logo .logo-img {
        max-width: 100px;
        max-height: 50px;
    }

    .App #header a.header-item {
        line-height: 70px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .App .user {
        flex-direction: column;
        width: 100%;
    }

    .App .user .searchMatchWrapper {
        margin-top: 30px;
    }
}
